*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(../../img/back.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: Lato;
  font-weight: 300;
  color: #555; }

html {
  font-size: 62.5%; }

.gameboard {
  background-color: #fff;
  width: 1000px;
  margin: 4rem auto;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: grid;
  position: relative;
  grid-template-columns: repeat(8, [col-start] 1fr [col-end]); }
  .gameboard__new {
    grid-row: 1/2;
    grid-column: 1/-1;
    text-align: center;
    z-index: 10; }
  .gameboard__player-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .gameboard__player-panel--0 {
      grid-row: 1/-1;
      grid-column: col-start 1 / col-end 4; }
    .gameboard__player-panel--1 {
      grid-row: 1/-1;
      grid-column: col-start 5 / -1; }
  .gameboard__img {
    grid-column: col-start 4/ col-end 5;
    grid-row: 1/2;
    z-index: 25;
    margin-top: 21rem;
    display: grid;
    grid-template-rows: repeat(4, minmax(min-content, 6.5rem));
    grid-template-columns: repeat(4, minmax(min-content, 6.5rem)); }
  .gameboard__dice {
    height: 6.5rem; }
    .gameboard__dice--1 {
      grid-column: 2/3;
      transform: scale(1.2);
      z-index: 30;
      box-shadow: 0.5rem 1rem 4rem rgba(0, 0, 0, 0.15); }
    .gameboard__dice--2 {
      grid-row: 2/3;
      grid-column: 3/4;
      transform: scale(1.2) translateY(-30%);
      box-shadow: 0.75rem 1rem 4rem rgba(0, 0, 0, 0.225); }
  .gameboard__game-nav {
    grid-row: 1/-1;
    grid-column: col-start 4/ col-end 5;
    z-index: 25;
    margin-top: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; }
  .gameboard__win-score-box {
    grid-row: 1/-1;
    grid-column: col-start 4/ col-end 5;
    z-index: 25;
    justify-self: center;
    width: 70%;
    margin-top: 10rem;
    text-align: center; }
  .gameboard__win-score {
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    color: #EB4D4D; }
  .gameboard__win-input {
    margin-top: 2rem;
    width: 100%;
    border: none;
    text-align: center;
    border-bottom: 2px solid #EB4D4D;
    outline: none;
    padding: .7rem .5rem;
    -moz-appearance: textfield; }
  .gameboard__win-input ::-webkit-outer-spin-button, .gameboard__win-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }

.player__name {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  grid-column: 1/-1;
  margin-top: 10rem;
  position: relative; }

.active .player__name {
  font-weight: 300; }

.active .player__name::after {
  content: "\2022";
  font-size: 47px;
  position: absolute;
  color: #EB4D4D;
  top: -7px; }

.winner .player__name {
  font-weight: 300;
  color: #EB4D4D; }

.player__score {
  font-size: 80px;
  font-weight: 100;
  color: #EB4D4D;
  grid-column: col-start 2/ col-end 3;
  margin-bottom: 10rem; }

.player__current-box {
  background-color: #EB4D4D;
  color: #fff;
  margin-bottom: 4rem;
  padding: 2rem 3rem;
  text-align: center; }

.player__current-label {
  text-transform: uppercase;
  font-size: 12px;
  color: #222; }

.player__current-score {
  font-size: 30px; }

.winner {
  background-color: #f7f7f7; }

.active {
  background-color: #f7f7f7; }

button {
  color: #555;
  background: none;
  border: none;
  font-family: Lato;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.3s, color 0.3s; }

button:hover {
  font-weight: 600; }

button:hover i {
  margin-right: 20px; }

button:focus {
  outline: none; }

i {
  color: #EB4D4D;
  display: inline-block;
  margin-right: 15px;
  font-size: 32px;
  line-height: 1;
  vertical-align: text-top;
  margin-top: -4px;
  transition: margin 0.3s; }

.btn-new {
  margin-top: 4rem; }

.btn-roll {
  margin-top: -1rem; }

.btn-hold {
  margin-top: 1.5rem; }

.popup {
  grid-row: 1/2;
  grid-column: 1/-1;
  flex-direction: row-reverse;
  backdrop-filter: blur(1rem);
  z-index: 50;
  display: flex;
  visibility: hidden;
  transition: transform .4s;
  transform: scale(0); }

.blocker {
  flex: 0 0 50%;
  height: 100%;
  padding: 3rem; }

.game-rules {
  flex: 0 0 50%;
  z-index: 100;
  padding: 3rem;
  background-color: #EB4D4D;
  color: white;
  transition: all .4s; }
  .game-rules__rule {
    font-size: 1.5rem; }
    .game-rules__rule:not(:last-child) {
      margin-bottom: 1rem; }

.question-btn:link, .question-btn:visited {
  text-decoration: none;
  font-size: 3.5rem;
  color: #EB4D4D;
  display: block;
  position: absolute;
  top: 20px;
  left: 50px;
  z-index: 100; }

.popup-open {
  visibility: visible;
  transform: scale(1); }
