.popup {
    grid-row: 1/2;
    grid-column: 1/-1;
    
    flex-direction: row-reverse;
    backdrop-filter: blur(1rem);
    z-index: 50;

    //closed until question button is clicked to open popup
    display: flex;
    visibility: hidden;
    transition: transform .4s;
    transform: scale(0);
    
}

.blocker  {
    flex: 0 0 50%;
    height: 100%;
    padding: 3rem;
   
}

.game-rules {
    
    flex: 0 0 50%;
    z-index: 100;
    padding: 3rem;
    
    background-color: #EB4D4D;
    color: white;
    
    transition: all .4s;

    &__rule {
        font-size: 1.5rem;

        &:not(:last-child){
            margin-bottom: 1rem;
        }
    }
    
}

.question-btn{
    &:link,&:visited {
        text-decoration: none;
        font-size: 3.5rem;
        color: #EB4D4D;
        display: block;
        
        position: absolute;
        top: 20px;
        left:  50px;
        z-index: 100;
    }

    // &:hover ~ .popup .game-rules {
    //     transform: scale(1);
    //     display: block;
        
    // }
}


.popup-open {
    visibility: visible;
    transform: scale(1);
    
   
}
